<h1>Users#new</h1>
<%= form_for @user, html: { multipart: true } do |f| %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
  <%= f.submit "Upload" %>
<% end %>

<% if @user.avatar.present? %>
  <h2>Uploaded Avatar:</h2>
  <%= image_tag @user.avatar.url %>
<% end %>
